---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
// import Community from '../components/Community.astro';
import Footer from "../components/Footer.astro";
---

<Layout title="Journey Paused!">
  <div class="parent-container">
    <main class="page-content relative">
      <Header transition:animate="fade" />
      <div class="smooth-scroll">
        <Hero />
        <!-- <Community /> -->
      </div>
    </main>
    <Footer />
  </div>
</Layout>

<style>
  * {
    transition: all 2s ease-in-out;
  }
  .smooth-scroll {
	scroll-behavior: smooth;
  }
  .custom {
    height: 100%;
    width: 100%;
  }
  .animate__animated.animate__fadeInRightBig {
  --animate-duration: 0s;
}
</style>

