---
---

<div data-aos="fade-up" class="mx-auto py-4 sm:py-4 lg:py-4">
  <div class="text-center">
    <h2 class="text-2xl font-bold py-2 tracking-tight text-primary mb-4">
      ShastraOS Preview
    </h2>
    <p
      class="text-3xl font-bold text-primary text-transparent bg-clip-text bg-gradient-to-r from-[#d7d7d7] to-[#616161] sm:text-3xl md:text-5xl pb-2 mb-12"
    >
      try shastraos
    </p>
    <a
      href="https://gateway.lighthouse.storage/ipfs/QmNLpbYvrxd3cxHusBtqhAnZeCh8tYwGFPHRDiQpXMgs4C"
      class="hover:bg-primary hover:bg-opacity-10 bg-trasparent bg-opacity-10 px-5 transition-all py-2 text-lg font-semibold text-gray-400 shadow-sm rounded-lg border border-gray-200 border-opacity-10"
    >
      Download
    </a>
  </div>
</div>

<style is:inline>
  :root {
    --color: rgba(71, 71, 71, 0.918);
  }

  body {
    background-color: #212121e8;
  }

  .container_mouse {
    z-index: 50;
    text-align: center;
    color: var(--color);
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 2rem;
    cursor: pointer;
  }

  .container_mouse .mouse-btn {
    margin: auto;
    width: 20px;
    height: 40px;
    border: 2px solid var(--color);
    border-radius: 30px;
    display: flex;
  }

  .container_mouse .mouse-btn .mouse-scroll {
    display: block;
    width: 10px;
    height: 10px;
    background: linear-gradient(
      170deg,
      rgba(74, 74, 74, 0.918),
      rgb(123, 124, 124)
    );
    border-radius: 50%;
    margin: auto;
    animation: scrolling 1s linear infinite;
  }

  @keyframes scrolling {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(10px);
    }
  }
</style>
